* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define color variables */
:root {
  --my-blue: #C9EBF2;
  --dark-pink: #FF6B81;
  --darker-pink: #FF4F63;
  --main-gray: #EDEDED;
  --main-red: #FF6B6B;
  --main-white: #FFFFFF;
  --light-blue: #3498db;
  --darker-blue: #2980b9;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Body styles */
body {
  background-color: var(--main-gray);
  font-family: 'Poppins', 'Quicksand', sans-serif;
}

/* Navigation Bar */
#navbar {
  background-color: var(--my-blue);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-link {
  padding: 15px;
  font-size: large;
  font-weight: bold;
  color: var(--dark-pink);
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
}

.nav-link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F0F0F0;
  padding: 18px;
}

/* Welcome Section */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: var(--my-blue);
  color: var(--dark-pink);
}

@keyframes waveColor {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#intro {
  margin: 0;
  margin-bottom: 5px;
  font-size: 4em;
  background: linear-gradient(to right, #FFD700, #FF6347, #8A2BE2, #32CD32, #FF4500);
  background-size: 200% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: waveColor 5s infinite;
}

#intro-sub {
  margin: 0;
  font-size: 2em;
}

/* Projects */
#projects {
  background-color: #F7D8A6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  min-height: 100vh;
}

#projects .title-container {
  width: 100%;
  text-align: center;
}

#projects h2 {
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: calc(100% - 40px);
  max-width: 1300px;
}

@keyframes changeColor {
  0% {
    color: var(--my-blue);
  }
  25% {
    color: #8CD3F5;
  }
  50% {
    color: var(--dark-pink);
  }
  75% {
    color: #FF7B96;
  }
  100% {
    color: var(--my-blue);
  }
}

#experiment {
  animation: changeColor 5s infinite;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 400px;
  width: 100%;
  background-color: var(--main-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
}

.card a {
  display: flex;
  width: 100%;
  width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.card-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-content h3,
.card-content p {
  margin: 0;
  padding: 0;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-out;
}

/* Skills */
#skills {
  background-color: #B0E57C;
  padding: 60px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-category {
  margin-bottom: 40px;
  text-align: center;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  color: var(--dark-pink);
}

.skill-text {
  font-size: 1.5rem;
  color: #1f1f1f;
}

.skill i {
  margin-right: 10px;
  color: #3498db;
}

#skills1,
#skills2,
#skills3 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: var(--dark-pink);
}

/* Contact */
#contact {
  background-color: #F2B6C2;
  height: auto;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center; /* Center the content */
}

#contact h2 {
  margin-bottom: 20px;
  color: #6b5b95;
}

/* Additional styles for the contact section */
.contact-section {
  text-align: center;
  padding: 80px 20px;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
  color: #34495E;
}

.contact-links {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
  margin-top: 4rem;
}

.contact-details,
.copy-email-btn,
.phone-btn {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  margin: 10px;
  padding: 20px;
  border-radius: 2px;
  color: var(--main-white);
  text-decoration: none;
}

.contact-details:hover,
.copy-email-btn:hover,
.phone-btn:hover {
  transform: translateY(8px);
  background: var(--main-red);
}

.copy-email-btn,
.phone-btn {
  padding: 20px;
  border-radius: 2px;
  color: var(--main-white);
  text-decoration: none;
  background-color: var(--light-blue); /* Light blue */
}

.copy-email-btn:hover,
.phone-btn:hover {
  background: var(--darker-blue); /* Darker blue on hover */
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.copy-message {
  color: #2ecc71; /* Green color */
  display: none;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.copy-message {
  color: #2ecc71; /* Green color */
  display: none;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

#button-linkedin {
  color: #0077B5;
}

#profile-link {
  color: #4078C0;
}

#button-email {
  color: #cccccc;
}

#button-phone {
  color: #82c99d;
}

/* Media Query for Responsive Web */
@media only screen and (max-width: 768px) {
  * {
    font-size: small;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin: 5px 0;
  }
}
